# Local backups
public/demo/data_bkp
public/demo/images_bkp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
/node_modules
package-lock.json
yarn.lock

.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Themes
public/themes/soho-light/
public/themes/soho-dark/
public/themes/viva-light/
public/themes/viva-dark/
public/themes/mira/
public/themes/nano/

.DS_Store
node_modules
dist
dist-ssr

/cypress/videos/
/cypress/screenshots/
/instrumented
/coverage
.nyc_output

.yarn
yarn.lock
.yarnrc.yml

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
*.iml
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.local
LOCAL_NOTES.md

*.log

.gitconfig

.vite-ssg-temp

.yalc
